.fin-juego {
  text-align: center;
  font-weight: bold;
  padding: 30px;
}

.fin-juego p {
  display: block;
  margin: 20px auto;
}

.reiniciar-btn {
  background-color: var(--bg-card);
  display: block;
  margin: auto;
}