.lista-juegos {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card-juego {
  background: var(--bg-card);
  border-radius: 10px;
  padding: 15px;
  width: 220px;
  text-align: center;
  transition: transform 0.2s;
}

.card-juego:hover {
  transform: scale(1.05);
}

.jugar-btn {
  background-color: var(--bg-panel);
}