.layout-juego {
  max-width: 720px;
  margin: auto;
  padding: 30px;
  background: var(--bg-panel);
  color: var(--text-main);
  box-shadow: var(--shadow-strong);
  border-radius: 14px;
}

.layout-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  margin-bottom: 20px;
  background-color: var(--bg-header);
  border-radius: 14px;
}

.layout-contenido {
  display: flex;
  flex-direction: column;
  gap: 20px;
}