.respuesta-correcta {
  text-align: center;
}

.respuesta-evidencia {
  display: block;
  margin: 20px auto;
}

.boton-siguiente {
  background-color: var(--bg-card);
  display: block;
  margin: auto;
}